.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
}

.container{
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    gap: 4rem;
    
}

.error {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 5rem;
    }
}